parameters:
    level: 1
    paths:
        - src
    excludePaths:
        - %rootDir%/src/Migrations
    symfony:
        container_xml_path: 'var/cache/dev/App_KernelDevDebugContainer.xml'
    doctrine:
        objectManagerLoader: build/phpstan/doctrine-orm-bootstrap.php
        repositoryClass: Doctrine\Bundle\DoctrineBundle\Repository\ServiceEntityRepository